/* General Styles */

* {
	box-sizing: border-box;
	font-family: Arial;
}

.align-children{
	font-size: 0;
	color: white;
}

.align-children > *{
	font-size: medium;
	display: inline-block;
	vertical-align: top;
}

@media only screen and (max-width: 767px).mobile nav{
	.column{
	display: block;
	width: 80%;
	margin: auto;
	}
}

/*  Main Content of Form */

div{
	margin: auto;
}

.container{
	background-color: #54A8C4;
	width: 80%;
}

form{
	margin: 10% 20%;
	width: 80%;
}

/*Change these styling elements!*/
.firstOption{
	color: white;
}

input, select, textarea{
    color: white;
    width: 100%;
    margin-bottom: 1.5em;

}

textarea:focus, input:focus {
    color: white;
}

select{
  outline: none;
  border: 1px solid grey;
  background-color: #54A8C4;
  color: #4078c0 ;
}

input:hover{
  border: 2px solid #4078c0;
  color: white;
}

input{
	background-color: #54A8C4;
	border: 2px solid white;
}

/*input ::placeholder{
	color: blue;
}*/

textarea{
	background-color: #54A8C4;
	border: 2px solid white;
	color: white;
}

.column{
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

.left{
	background: #54A8C4;
	/*width: 33%;*/
	/*font-size: 0;*/
}

.middle{
	/*width: 33%;*/
}

.left h1{
	background: #54A8C4;
}

.right{
	background: #54A8C4;
	/*width: 33%;*/
}